{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="peacehotel peacebusinessgroup admin dashboard reservations">

    <!-- Title Page-->
    <title>{% block title %}Admin Dashboard{% endblock %}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'reservations/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'reservations/vendor/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'reservations/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <!-- Main CSS-->
    <link href="{% static 'reservations/css/theme.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/css/updates.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{% url 'reservations:index' %}">
                            <img src="{% static 'reservations/images/icon/logo.png' %}" alt="PBF=G Admin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Reservations</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                 <li>
                                    <a href="{% url 'reservations:admindashboard' 'all' %}">All</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'accomodation' %}">Accomodations</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'transportation' %}">Transportation</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'conference' %}">Conference</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'security' %}">Security</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'reservations:users' %}">
                                <i class="fas fa-chart-bar"></i>Users</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:index' %}">
                                <i class="fas fa-chart-bar"></i>Hotel Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{% url 'reservations:index' %}">
                    <img src="{% static 'reservations/images/pbglogo.mini.png' %}" alt="PBG Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Reservations</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'all' %}">All</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'accomodation' %}">Accomodations</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'transportation' %}">Transportation</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'conference' %}">Conference</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:admindashboard' 'security' %}">Security</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'reservations:users' %}">
                                <i class="fas fa-chart-bar"></i>Users</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:index' %}">
                                <i class="fas fa-chart-bar"></i>Hotel Settings</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{% static 'reservations/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ user.get_full_name }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{% static 'reservations/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ user.get_full_name }}</a>
                                                    </h5>
                                                    <span class="email">{{ user.email }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'admin:index' %}">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                     <div class="container-fluid">
                        {% block maincontent %}
                            <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="title-5 m-b-35">reservations</h3>
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-left">
                                                    <div class="rs-select2--light rs-select2--md">
                                                        <select class="js-select2" name="property">
                                                            <option selected="selected">All Guests</option>
                                                            <option value="">Guests</option>
                                                            <option value="">Members</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <div class="rs-select2--light rs-select2--sm">
                                                        <select class="js-select2" name="time">
                                                            <option selected="selected">Today</option>
                                                            <option value="">3 Days</option>
                                                            <option value="">1 Week</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                                <div class="table-data__tool-right">
                                                    <a href="{% url 'reservations:index' %}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                        <i class="zmdi zmdi-plus"></i>add reservation</a>
                                                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                                        <select class="js-select2" name="type">
                                                            <option selected="selected">Export</option>
                                                            <option value="">Option 1</option>
                                                            <option value="">Option 2</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive table-responsive-data2">
                                                <table class="table table-data2" id="tb_admin_dashboard">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <label class="au-checkbox">
                                                                    <input type="checkbox">
                                                                    <span class="au-checkmark"></span>
                                                                </label>
                                                            </th>
                                                            <th>name</th>
                                                            <th>email</th>
                                                            <th>service</th>
                                                            <th>status</th>
                                                            <th>start date</th>
                                                            <th>end date</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for res in reservations %}
                                                            <tr class="tr-shadow">
                                                                <td>
                                                                    <label class="au-checkbox">
                                                                        <input type="checkbox">
                                                                        <span class="au-checkmark"></span>
                                                                    </label>
                                                                </td>
                                                                <td>{{ res.guest_id.user.get_full_name }}</td>
                                                                <td>
                                                                    <span class="block-email">{{ res.guest_id.user.email }}</span>
                                                                </td>
                                                                <td class="desc">{{ res.gettype|title }}</td>
                                                                <td>
                                                                    <span class="status--process">{{ res.status }}</span>
                                                                </td>
                                                                <td>
                                                                    {{ res.start_date|date:"d-m-y" }}
                                                                </td>
                                                                <td>{{ res.end_date|date:"d-m-y" }}
                                                                </td>
                                                                <td>
                                                                    <div class="table-data-feature">
                                                                   
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                            <i class="zmdi zmdi-edit"></i>
                                                                        </button>
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="zmdi zmdi-delete"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>
                        {% endblock %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright">
                                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'reservations/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'reservations/vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'reservations/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'reservations/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Datatables-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <!-- Main JS-->
    <script src="{% static 'reservations/js/main_admin.js' %}"></script>

</body>

</html>
<!-- end document-->
