{% extends "reservations/admin/base.html" %}


   
{% block maincontent %}
{% if success %}
    <div class="row message-box">
        <p>{{ msg }}</p>
    </div>
{% endif %}
{% if error %}
    <div class="row message-box">
        <p>Error : {{ error }} </p>
    </div>
{% endif %}

    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <strong>View Reservation {{ res.id }}</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Reservation ID:</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ res.id }}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Booked by:</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ res.guest_id.user.get_full_name }}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">START DATE:</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ res.start_date|date:"d-m-y" }}</p>
                            </div>
                        </div>
                         <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">END DATE:</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ res.end_date|date:"d-m-y" }}</p>
                            </div>
                        </div>
                       
                    </form>
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>guests</th>
                                    <th>duration</th>
                                    <th>hall</th>
                                    <th class="text-right">price</th>
                                    <th class="text-right">total</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                    <td>{{ res.number_of_guests }}</td>
                                    <td>{{ duration }}</td>
                                    <td>{{ res.conference_hall_id }}</td>
                                    <td class="text-right">{{ res.conference_hall_id.price }}</td>
                                    <td class="text-right">{% widthratio res.conference_hall_id.price 1 duration %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <div class="col-lg-3" id="reservation_buttons">
            <div class="card">
                <div class="card-header">
                    <strong></strong>
                </div>
                <div class="card-body card-block">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row form-group">
                            <input type="hidden" name="reservation_id" value="{{res.id}}">
                            <button type="submit" name="btn_approve" class="btn btn-success col-md-12 approve_accom" id="id_approve_acoom_res" data-resid="{{ res.id }}" value="1">
                                <i class="fa fa-check-square"></i> Approve
                            </button>
                        </div>
                        <div class="row form-group">
                            <button type="submit" name="btn_reject" class="btn btn-danger col-md-12"  value="1">
                                <i class="fa fa-times"></i> Reject
                            </button>
                        </div>
                        <div class="row form-group">
                            <button type="submit" name="btn_cancel" class="btn btn-warning col-md-12" value="1">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                        </div>
                        <div class="row form-group">
                            <a href="{% url 'reservations:admindashboard' 'all' %}"><button class="btn btn-secondary col-md-12">
                                <i class="fa fa-arrow-left"></i> Return to Dashboard
                            </button></a>
                        </div>
                    </form>
                </div>
            </div>                  
        </div>
    <div class="row">
        <div class="col-lg-9">
        </div>  
    </div>
{% endblock %}
            