{% extends "reservations/admin/base.html" %}

{% block maincontent %}

    <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">reservations</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Guests</option>
                                    <option value="">Guests</option>
                                    <option value="">Members</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        <div class="table-data__tool-right">
                            <a href="{% url 'reservations:index' %}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add reservation</a>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2" id="tb_admin_dashboard">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>service</th>
                                    <th>status</th>
                                    <th>start date</th>
                                    <th>end date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in reservations %}
                                    <tr class="tr-shadow">
                                        <td>{{ res.id }}</td>
                                        <td>{{ res.guest_id.user.get_full_name }}</td>
                                        <td>
                                            <span class="block-email">{{ res.guest_id.user.email }}</span>
                                        </td>
                                        <td class="desc">{{ res.gettype|title }}</td>
                                        <td>
                                            <span class="status--process">{{ res.status }}</span>
                                        </td>
                                        <td>
                                            {{ res.start_date|date:"d-m-y" }}
                                        </td>
                                        <td>{{ res.end_date|date:"d-m-y" }}
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a href="{% url 'reservations:edit_reservation' res.gettype res.id %}"><button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>       
{% endblock %}
 