{% extends "reservations/admin/base.html" %}

{% block maincontent %}
    <div class="row">
                            <div class="col-md-12">
                                <h3 class="title-5 m-b-35">reservations</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">All Guests</option>
                                                <option value="">Guests</option>
                                                <option value="">Members</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--light rs-select2--sm">
                                            <select class="js-select2" name="time">
                                                <option selected="selected">Today</option>
                                                <option value="">3 Days</option>
                                                <option value="">1 Week</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <a href="{% url 'reservations:index' %}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>add reservation</a>
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                            <select class="js-select2" name="type">
                                                <option selected="selected">Export</option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                <th>name</th>
                                                <th>email</th>
                                                <th>staff</th>
                                                <th>gender</th>
                                                <th>member since</th>
                                                <th>contact</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in users %}
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>{{ user.user.get_full_name }}</td>
                                                    <td>
                                                        <span class="block-email">{{ user.user.email }}</span>
                                                    </td>
                                                    <td class="desc">{{ user.user.is_staff }}</td>
                                                    <td>
                                                        <span class="status--process">{{ user.gender }}</span>
                                                    </td>
                                                    <td>
                                                        {{ user.user.date_joined|date:"Y-m-d" }}
                                                    </td>
                                                    <td>{{ user.phone_number }}</td>
                                                    <td>
                                                            <a href="{% url 'admin:reservations_pbguser_change' user.id %}" class="table-data-feature">
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                    <i class="zmdi zmdi-edit"></i>
                                                                </button>
                                                            </a>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                {{ res.start_date }}
                                            {% endfor %}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
{% endblock %}
            