.header-button{
	position: absolute;
	right: 4%;    
}

.menu-sidebar{
	width: 250px;
}

.menu-sidebar .logo{
	background: #ffffff;
}

.menu-sidebar2 .logo{
	background: #ffffff;
}

@media (max-width: 991px){
	.page-container {
    position: relative;
    top: 88px;
    padding-left: 0;
	}
	.header-button{
		position: inherit;
		left: 20px;    
	}
	.account-item > .content{
		margin-left:0;
	}
}

.header-desktop{
	left: 250px;
}
.radiolabel label{
	position: static !important;
	top:0;
	left: 0;
}
.account2{
	padding: 2px;
}
/*Tables*/
.table-data2.table tbody td{
	padding:5px 2px 5px 8px;
}
.table-data2.table tbody tr{
	margin-top: 10px !important;
}
.table.dataTable tbody tr{
	margin-top: 10px !important;

 }
 .table-earning thead th{
 	padding: 3px 10px;
 }
,.table-earning tbody td{
 	padding: 3px 10px;
 }
/* End of tables*/

/* Forms */
#reservations_buttons button{
	width: 100%;
}
/* End of forms*/
