{% extends "reservations/base.html" %}
{% block title %}PBG Homepage{% endblock%}
{% block topnav%}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'reservations:accomodationform' %}">Accomodation</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'reservations:transportationform' %}">Transportations</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'reservations:conferenceform' %}">Conference</a></li>
	    <li class="breadcrumb-item" ><a href="{% url 'reservations:securityform' %}">Security</a></li>
	  </ol>
	</nav>
{% endblock %}
{% block content %}
		<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg" id="accomodation_form_bg"></div>
						<form method="POST">
							{% csrf_token %}
							<div class="form-header">
								<h4>Accomodation Reservation</h4>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Hotel Branch</span>
										{{ form.branch }}
										<span class="select-arrow"></span>
									</div>
									<div class="error">
		                {{ form.branch.errors }}
		            	</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Room Type</span>
										{{ form.accomodation_type }}
										<span class="select-arrow"></span>
									</div>
									<div class="error">
		                {{ form.accomodation_type.errors }}
		            	</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Check In</span>
										{{ form.start_date }}
									</div>
									<div class="error">
		                {{ form.start_date.errors }}
		            	</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Check Out</span>
										{{ form.end_date }}
									</div>
									<div class="error">
		                {{ form.end_date.errors }}
		            	</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Guests</span>
										{{ form.number_of_guests }}
									</div>
									<div class="error">
		                {{ form.number_of_guests.errors }}
		            	</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Rooms</span>
										{{ form.number_of_rooms }}
									</div>
									<div class="error">
		                {{ form.number_of_rooms.errors }}
		            	</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label">Comments</span>
								{{ form.comments }}
							</div>
							<div class="error">
		                {{ form.comments.errors }}
		            	</div>
							{{ form.errors }}
							<div class="form-btn">
								<button type="submit" class="submit-btn">Book Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		
{% endblock %}
