	{% extends "reservations/base.html" %}
{% block title %}PBG Homepage{% endblock%}
{% block topnav%}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item" ><a href="{% url 'reservations:accomodationform' %}">Accomodation</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'reservations:transportationform' %}">Transportations</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'reservations:conferenceform' %}">Conference</a></li>
	    <li class="breadcrumb-item" ><a href="{% url 'reservations:securityform' %}">Security</a></li>
	  </ol>
	</nav>
{% endblock %}

{% block content %}
		<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg" id="conference_form_bg"></div>
						<form method="POST">
							{% csrf_token %}
							<div class="form-header">
								<h4>Conference Reservation</h4>
							</div>

							<div class="form-group">
								<span class="form-label">Branch</span>
								{{ form.branch }}
								<span class="select-arrow"></span>
							</div>
							<div class="form-group">
								<span class="form-label">Hall</span>
								{{ form.hall }}
								<small>-- : Hall Description</small>
								<span class="select-arrow"></span>
							</div>
							<div class="form-group">
								<span class="form-label">Meeting Date</span>
								{{ form.date }}
							</div>
							<div class="form-group">
								<span class="form-label">Comments</span>
								{{ form.comments }}
							</div>
							<div class="form-btn">
								<button type="submit" class="submit-btn">Book Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		
{% endblock %}
