{% extends "reservations/base.html" %}
{% block title %}PBG Homepage{% endblock%}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-5 m-4 service-category service-accomodation" data-url="{% url 'reservations:accomodationform' %}">
			<div class="transbox">
				<h2>ACCOMODATION</h2>
			</div>
		</div>
		<div class="col-md-5 m-4 service-category service-transportation" data-url="{% url 'reservations:transportationform' %}">
			<div class="transbox">
				<h2>TRANSPORTATION</h2>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-5 m-4 service-category service-conference" data-url="{% url 'reservations:conferenceform' %}">
			<div class="transbox">
				<h2>CONFERENCES</h2>
			</div>
		</div>
		<div class="col-md-5 m-4 service-category service-security" data-url="{% url 'reservations:securityform' %}">
			<div class="transbox">
				<h2>SECURITY</h2>
			</div>
		</div>
	</div>
</div>
{% endblock %}