{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{% block title %}Client Dashboard{% endblock %}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'reservations/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'reservations/vendor/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'reservations/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/vendor/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'reservations/css/theme.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'reservations/css/updates.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="{% url 'reservations:index' %}">
                    <img src="{% static 'reservations/images/pbglogo.mini.png' %}" alt="PBG ADMIN" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="{% static 'reservations/images/icon/avatar-big-01.jpg' %}" alt="John Doe" />
                    </div>
                    <h4 class="name">{{ user.get_full_name }}</h4>
                    <a href="{% url 'logout' %}">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="#">
                                <i class="fas fa-chart-bar"></i>My Account</a>
                        </li>
                        <li class="has-sub">
                            <a href="{% url 'reservations:clientdashboard' '' %}">
                                <i class="fas fa-tachometer-alt"></i>All Reservations
                                <span class="bot-line"></span>
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="{% url 'reservations:clientdashboard' 'accomodation' %}">Accomodation</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:clientdashboard' 'transportation' %}">Transport</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:clientdashboard' 'conference' %}">Conference</a>
                                </li>
                                <li>
                                    <a href="{% url 'reservations:clientdashboard' 'security' %}">Security</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="{% url 'reservations:index' %}">
                                    <img src="{% static 'reservations/images/pbglogo.mini.png' %}" alt="PBGAdmin" />
                                </a>
                            </div>
                            <div class="header-button2">
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                    </div>
                               </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'reservations/images/icon/logo-white.png' %}" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="{% static 'reservations/images/icon/avatar-big-01.jpg' %}" alt="John Doe" />
                        </div>
                        <h4 class="name">john doe</h4>
                        <a href="#">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                             <li>
                                <a href="chart.html">
                                    <i class="fas fa-chart-bar"></i>My Account</a>
                            </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i> All Reservations</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Accomodation</a>
                                </li>
                                <li>
                                    <a href="index2.html">Transport</a>
                                </li>
                                <li>
                                    <a href="index3.html">Conference</a>
                                </li>
                                <li>
                                    <a href="index4.html">Security</a>
                                </li>
                            </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'reservations:index' %}"><button class="au-btn au-btn-icon au-btn--green">
                                        <i class="zmdi zmdi-plus"></i>new reservation</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- Reservations table-->
            <section class="p-t-20">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        {% block maincontent %}
                       <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                     <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                <th>name</th>
                                                <th>email</th>
                                                <th>service</th>
                                                <th>status</th>
                                                <th>start date</th>
                                                <th>end date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if reservations|length <= 0 %}
                                                <b>No reservations made</b>
                                            {% endif %}
                                            {% for res in reservations %}
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>{{ res.guest_id.user.get_full_name }}</td>
                                                    <td>
                                                        <span class="block-email">{{ res.guest_id.user.email }}</span>
                                                    </td>
                                                    <td class="desc">{{ res.gettype|title }}</td>
                                                    <td>
                                                        <span class="status--process">{{ res.status }}</span>
                                                    </td>
                                                    <td>
                                                        {{ res.start_date|date:"Y-m-d" }}
                                                    </td>
                                                    <td>{{ res.end_date|date:"Y-m-d" }}</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="zmdi zmdi-edit"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                            {% endfor %}
                                            </tbody>
                                    </table>
                                
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </section>
            <!-- END Reservations table-->

            <section style="visibility: hidden">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'reservations/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'reservations/vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'reservations/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'reservations/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/select2/select2.min.js' %}">
    </script>
    <script src="{% static 'reservations/vendor/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'reservations/vendor/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'reservations/vendor/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'reservations/vendor/vector-map/jquery.vmap.world.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'reservations/js/main_admin.js' %}"></script>

</body>

</html>
<!-- end document-->