{% extends 'reservations/client/base.html' %}
{% block maincontent %}
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                 <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>name</th>
                            <th>email</th>
                            <th>service</th>
                            <th>status</th>
                            <th>start date</th>
                            <th>end date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if reservations|length <= 0 %}
                            <b>No reservations made</b>
                        {% endif %}
                        {% for res in reservations %}
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>{{ res.guest_id.user.get_full_name }}</td>
                                <td>
                                    <span class="block-email">{{ res.guest_id.user.email }}</span>
                                </td>
                                <td class="desc">{{ res.gettype|title }}</td>
                                <td>
                                    <span class="status--process">{{ res.status }}</span>
                                </td>
                                <td>
                                    {{ res.start_date|date:"Y-m-d" }}
                                </td>
                                <td>{{ res.end_date|date:"Y-m-d" }}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="View Details">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        {% endfor %}
                        </tbody>
                </table>
            
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
{% endblock %}             