{% extends "reservations/client/base.html" %}


{% block maincontent %}
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <strong>Edit Account Details</strong>
                </div>
                <div class="card-body card-block">
                     <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="error">
                                {{ pbguserform.gender.errors|escape }}
                            </div>
                            {% for x in pbguserform.gender %}
                            <div class="form-check form-check-inline radiolabel">
                                {{ x }}
                            </div>
                            {% endfor %}
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">First Name</label>
                                </div>
                                <div class="col-12 col-md-9">
                                     {{ userform.first_name }}
                                </div>
                            </div>
                            <div class="-error">
                                {{ userform.first_name.errors }}
                            </div>
                          
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Last Name</label>
                                </div>
                                <div class="col-12 col-md-9">
                                     {{ userform.last_name }}
                                </div>
                            </div>
                            <div class="error">
                                {{ userform.last_name.errors }}
                            </div>
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Username</label>
                                </div>
                                <div class="col-12 col-md-9">
                                     {{ userform.username }}
                                </div>
                            </div>
                            <div class="error">
                                {{ userform.username.errors }}
                            </div>
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Email</label>
                                </div>
                                <div class="col-12 col-md-9">
                                     {{ userform.email }}
                                </div>
                            </div>
                            <div class="error">
                                {{ userform.email.errors }}
                            </div>
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Phone Number</label>
                                </div>
                                <div class="col-12 col-md-9">
                                     {{ pbguserform.phone_number }}
                                </div>
                            </div>
                            <div class="error">
                                {{ pbguserform.phone_number.errors }}
                            </div>
                           
                            <div class="form-group form-button">
                                <input type="submit" name="editprofile" id="editprofile" class="form-submit" value="Update Info"/>
                            </div>
                        </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <div class="col-lg-3" id="reservation_buttons">
            <div class="card">
                <div class="card-header">
                    <strong></strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" class="form-horizontal">
                    picture
                    </form>
                </div>
            </div>                  
        </div>
{% endblock %}
            